<h2>Application</h2>
<nav>
    <ul class="nav nav-tabs">
        <li routerLinkActive="active"><a routerLink="/pipes" >Фильтры</a></li>
        <li routerLinkActive="active"><a routerLink="/forms" >Forms</a></li>
        <li routerLinkActive="active"><a routerLink="/directives">Directives</a></li>
        <li routerLinkActive="active"><a routerLink="/example">Examples</a></li>
        <li routerLinkActive="active"><a routerLink="/phone-component">PhoneComponent</a></li>
        <li routerLinkActive="active"><a routerLink="/another">Another</a></li>
        <li routerLinkActive="active"><a routerLink="/child-route/5/details">ChildRoute id 5 + Details</a></li>
        <li routerLinkActive="active"><a routerLink="/child-route/5/stat">ChildRoute id 5 + Stat</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>